*.user

A3_E3/.idea/
A3_E3/A3_E3/bin/
A3_E3/A3_E3/obj/

A4_E3/.idea/
A4_E3/A4_E3/bin/
A4_E3/A4_E3/obj/

A5_E3/.idea/
A5_E3/A5_E3.EJ1/bin/
A5_E3/A5_E3.EJ1/obj/
A5_E3/A5_E3.EJ2/bin/
A5_E3/A5_E3.EJ2/obj/

A6_E3/.idea/
A6_E3/A6_E3/bin/
A6_E3/A6_E3/obj/
